<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	
	<variable name="logDirectory" value="./logs"/>
	<variable name="archiveLogDirectory" value="./logs/archive"/>
	
	<targets>
		<!-- 1.将日志写入文件-->
		<!-- 单文件 10MB -->
		<target name="DeBug_File"
				xsi:type="File"
				fileName="${logDirectory}/${cached:${date:format=yyyy-MM-dd HH_mm_ss}}.log"
				archiveFileName="${archiveLogDirectory}/LogFile.log.{#}"
				archiveAboveSize="104857600"
				maxArchiveFiles="30"
				archiveNumbering="Sequence"
				archiveEvery="Hour"
				layout="${longdate} | ${level:uppercase=false}  ${newline} ${message} ${newline}" /> 

		<!-- 2.将日志消息写入数据库-->
		<!--<target name="database" xsi:type="Database" connectionstring="Server=47.104.11.154;User ID=sa;Password=sa@2008;database=OeeIot;">
			<commandText>
				insert into NLogInfo([Date],[origin],[Level],[Message]) values (getdate(), @origin, @logLevel, @message);
			</commandText>
			日志来源
			<parameter name="@origin" layout="${callsite}" />
			日志等级
			<parameter name="@logLevel" layout="${level}" />
			日志消息
			<parameter name="@message" layout="${message}" />
		</target>-->


		<!-- 3.将日志消息写入Visual Studio输出-->
		<target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${newline} ${message} ${newline}" />

		<!-- 4.将日志消息写入控制台输出-->
		<target name="console" xsi:type="Console" layout="NLog: ${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true:padding=-5} |  ${newline}${message} ${newline}"/>

		<target name="CoreLog"
				xsi:type="AsyncWrapper"
				queueLimit="5000"
				overflowAction="Discard">
			<target xsi:type="File"
					fileName="${currentdir}/logs/Hello_${shortdate}.log"
					archiveFileName="${currentdir}/logs/Hello_${shortdate}.{##}.log"
					archiveAboveSize="1024"
					concurrentWrites="true"
					layout="${date}_${processid}_${threadid} ${level:uppercase=true} ${event-context:item=Action}| ${newline} ${message} ${newline}| ${event-context:item=Amount} ${stacktrace}"  />
		</target>
	</targets>

	<rules>
		<logger name="DeBug_NLog" minlevel="DeBug" writeTo="DeBug_File" />
		<!--<logger name="*"  writeTo="database" />-->
		<logger name="*" minlevel="Info" writeTo="debugger,console" />
		<logger name="*" minlevel="Info" writeTo="CoreLog" />
	</rules>
</nlog>

